annotated-types==0.7.0
argcomplete==1.12.3
attrs==24.2.0
bottle==0.12.18
certifi==2024.8.30
chardet==3.0.4
charset-normalizer==3.3.2
idna<3,>=2.5
more-itertools==10.5.0
packaging==24.1
pluggy==0.13.1
prettytable==0.7.2
py==1.11.0
pydantic==2.8.0
pydantic-settings==2.3.4
pydantic_core==2.20.0
PyHamcrest==2.0.2
pymongo==3.11.0
pytest==5.4.3
python-dotenv==1.0.1
requests~=2.24.0
servicemanager==2.0.10
typing_extensions==4.12.2
urllib3==2.2.2
wcwidth==0.2.13
